<h1>Studios Index</h1>

<% @studios.each do |studio|%>
    <h2><%= studio.name %></h2>
    <p><%= studio.location %></p>
    <% studio.movies.each do |movie|%>
        <h4><%= movie.title %></h4>
    <% end %>
<% end %>

